<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>355347256850-4alt6k067o7qriogn515ianr95irjsj3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.355347256850-4alt6k067o7qriogn515ianr95irjsj3</string>
	<key>API_KEY</key>
	<string>AIzaSyBCmD_U-82d1dJ5FOtVeZUgJwpyIcmcf3I</string>
	<key>GCM_SENDER_ID</key>
	<string>355347256850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.felipesekai.rockethelp</string>
	<key>PROJECT_ID</key>
	<string>contador-39ab2</string>
	<key>STORAGE_BUCKET</key>
	<string>contador-39ab2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:355347256850:ios:4d8632cbeafcf9db1faacb</string>
	<key>DATABASE_URL</key>
	<string>https://contador-39ab2-default-rtdb.firebaseio.com</string>
</dict>
</plist>